<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="<?=plushka::url()?>admin/public/template/front.css" />
	<script type="text/javascript" src="<?=plushka::url()?>public/js/jquery.min.js"></script>
	<script type="text/javascript" src="<?=plushka::url()?>public/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="<?=plushka::url()?>admin/public/js/front.js"></script>
	{{head}}
</head>
<body>
	<div id="content">
		{{content}}
		<iframe name="resizer" id="_resizer"></iframe>
	</div>
</body>
</html>