body {background:#412727;}
#page {background:#eeb6b6;}
#header {height:47px;}
#header .widgetMenu {background:#ba1a1a;}
#header .widgetMenu li,#header .widgetMenu li:first-child {border-right:1px solid black;}
#header .widgetMenu li span {color:white;}
#header .widgetMenu li:hover {background:#d82222;}
.widgetSearch {margin-right:30px;}