ErrorDocument	404	/404
php_value default_charset utf-8

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^sitemap.xml$ /index2.php?controller=smap [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .*? /index.php