<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	{{metaDescription}}{{metaKeyword}}
	<title>{{metaTitle}}</title>
	<link href="<?=plushka::url()?>public/template/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="shortcut icon" href="<?=plushka::url()?>favicon.ico" type="image/x-icon" />
	{{head}}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
	{{widget[admin]}}
	<header>
		<a href="<?=plushka::url()?>"><img src="<?=plushka::url()?>public/template/logo1.png" alt="cms0" style="float:left;width:140px;" /></a>
		{{widget[language]}}
		{{widget[search]}}
	</header>
	<div id="header">{{widget[menu][1]}}</div>
	<div id="page">
		<main>
			{{breadcrumb}}
			<div class="block">
				{{section[top]}}
				{{pageTitle}}
				{{content}}
				<div style="clear:both;"></div>
			</div>
			{{section[bottom]}}
			<div style="clear:both;"></div>
		</main>

		<aside>
			{{widget[user]}}
			{{widget[oauth][][][Войти через...]}}
			{{section[right]}}
		</aside>

		<div style="clear: both;">&nbsp;</div>
	</div>

	<footer>{{section[footer]}}</footer>

</body></html>