<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{metaDescription}}" />
	<meta name="keywords" content="{{metaKeyword}}" />
	<title>{{metaTitle}}</title>
	<link href="<?=core::url()?>public/template/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="<?=core::url()?>public/template/red.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="shortcut icon" href="<?=core::url()?>favicon.ico" type="image/x-icon" />
	{{head}}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
	{{widget[admin]}}
	<div id="head">
		<a href="<?=core::url()?>"><img src="<?=core::url()?>public/template/logo1.png" alt="cms0" style="float:left;width:140px;" /></a>
		{{widget[search]}}
	</div>

	<div id="header">{{widget[menu][1]}}</div>

	<div id="page">
		<div id="content">
			{{breadcrumb}}
			<div class="block">
				{{pageTitle}}
				{{content}}
				<div style="clear:both;"></div>
			</div>
			{{section[bottom]}}
			<div style="clear:both;"></div>
		</div>

		<div id="sidebar">
			{{widget[user]}}
			{{section[right]}}
		</div>

		<div style="clear: both;">&nbsp;</div>
	</div>

	<div id="footer">
		<p>Copyleft 2013 ;)</p>
	</div>

</body></html>